[versions]
kotlin = "1.9.0"
coroutines = "1.7.3"

java-target= "11"
java-toolchain = "19"

fgp = "0.5.0"
gradle-api = "8.2.1"

android-gradle = "8.1.0"
android-min = "21"
android-target = "33"
android-compile = "33"
androidx-activity = "1.7.2"
androidx-annotations = "1.5.0"
androidx-compose-compiler = "1.5.1"
androidx-compose-runtime = "1.5.0"
androidx-compose-ui = "1.5.0"
androidx-compose-animation = "1.5.0"
androidx-core = "1.10.1"
androidx-lifecycle = "2.6.1"
androidx-fragment = "1.6.1"
androidx-navigation = "2.7.0"
androidx-savedstate = "1.2.1"

uri = "0.0.14"

inject = "1"
dagger = "2.47"
anvil = "2.4.7"
renderer = "0.13.0"
ksp = "1.9.0-1.0.12"
kotlinpoet = "1.14.2"
auto-service = "1.1.1"
auto-service-ksp = "1.1.0"
auto-value = "1.10.3"

junit = "4.13.2"
truth = "1.1.5"
turbine = "1.0.0"
kotlin-compile-testing = "0.3.2"

publish = "0.25.3"
dokka = "1.8.20"
bestpractices = "0.10"
binarycompatibility = "0.13.2"
dependency-analysis = "1.21.0"
gr8 = "0.9"

[libraries]
gradle-api = { module = "dev.gradleplugins:gradle-api", version.ref = "gradle-api" }
android-gradle-api = { module = "com.android.tools.build:gradle-api", version.ref = "android-gradle" }

kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
kotlin-parcelize = { module = "org.jetbrains.kotlin:kotlin-parcelize-runtime", version.ref = "kotlin" }
kotlin-compiler = { module = "org.jetbrains.kotlin:kotlin-compiler-embeddable", version.ref = "kotlin" }
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test", version.ref = "kotlin" }
kotlin-test-annotations = { module = "org.jetbrains.kotlin:kotlin-test-annotations-common", version.ref = "kotlin" }
kotlin-test-junit = { module = "org.jetbrains.kotlin:kotlin-test-junit", version.ref = "kotlin" }

coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }

androidx-activity = { module = "androidx.activity:activity-ktx", version.ref = "androidx-activity" }
androidx-activity-compose = { module = "androidx.activity:activity-compose", version.ref = "androidx-activity" }
androidx-annotations = { module = "androidx.annotation:annotation", version.ref = "androidx-annotations" }
androidx-compose-compiler = { module = "androidx.compose.compiler:compiler", version.ref = "androidx-compose-compiler" }
androidx-compose-runtime = { module = "androidx.compose.runtime:runtime", version.ref = "androidx-compose-runtime" }
androidx-compose-runtime-saveable = { module = "androidx.compose.runtime:runtime-saveable", version.ref = "androidx-compose-runtime" }
androidx-compose-ui = { module = "androidx.compose.ui:ui", version.ref = "androidx-compose-ui" }
androidx-compose-animation = { module = "androidx.compose.animation:animation", version.ref = "androidx-compose-animation" }
androidx-core = { module = "androidx.core:core-ktx", version.ref = "androidx-core" }
androidx-lifecycle-common = { module = "androidx.lifecycle:lifecycle-common", version.ref = "androidx-lifecycle" }
androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "androidx-lifecycle" }
androidx-lifecycle-testing = { module = "androidx.lifecycle:lifecycle-runtime-testing", version.ref = "androidx-lifecycle" }
androidx-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "androidx-lifecycle" }
androidx-viewmodel-compose = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "androidx-lifecycle" }
androidx-viewmodel-savedstate = { module = "androidx.lifecycle:lifecycle-viewmodel-savedstate", version.ref = "androidx-lifecycle" }
androidx-navigation-common = { module = "androidx.navigation:navigation-common", version.ref = "androidx-navigation" }
androidx-navigation-runtime = { module = "androidx.navigation:navigation-runtime", version.ref = "androidx-navigation" }
androidx-navigation-compose = { module = "androidx.navigation:navigation-compose", version.ref = "androidx-navigation" }
androidx-navigation-fragment = { module = "androidx.navigation:navigation-fragment", version.ref = "androidx-navigation" }
androidx-fragment = { module = "androidx.fragment:fragment", version.ref = "androidx-fragment" }
androidx-savedstate = { module = "androidx.savedstate:savedstate", version.ref = "androidx-savedstate" }
androidx-viewbinding = { module = "androidx.databinding:viewbinding", version.ref = "android-gradle" }

uri = { module = "com.eygraber:uri-kmp-android", version.ref = "uri" }

inject = { module = "javax.inject:javax.inject", version.ref = "inject" }
dagger = { module = "com.google.dagger:dagger", version.ref = "dagger" }
dagger-compiler = { module = "com.google.dagger:dagger-compiler", version.ref = "dagger" }
anvil-annotations = { module = "com.squareup.anvil:annotations", version.ref = "anvil" }
anvil-compiler = { module = "com.squareup.anvil:compiler", version.ref = "anvil" }
anvil-compiler-api = { module = "com.squareup.anvil:compiler-api", version.ref = "anvil" }
anvil-compiler-utils = { module = "com.squareup.anvil:compiler-utils", version.ref = "anvil" }
renderer = { module = "com.gabrielittner.renderer:renderer", version.ref = "renderer" }
renderer-connect = { module = "com.gabrielittner.renderer:connect", version.ref = "renderer" }
kotlinpoet = { module = "com.squareup:kotlinpoet", version.ref = "kotlinpoet" }
auto-service-annotations = { module = "com.google.auto.service:auto-service-annotations", version.ref = "auto-service" }
auto-service-compiler = { module = "dev.zacsweers.autoservice:auto-service-ksp", version.ref = "auto-service-ksp" }
auto-value = { module = "com.google.auto.value:auto-value", version.ref = "auto-value" }
flowredux = { module = "com.freeletics.flowredux:flowredux", version = "1.2.0" }

junit = { module = "junit:junit", version.ref = "junit" }
truth = { module = "com.google.truth:truth", version.ref = "truth" }
turbine = { module = "app.cash.turbine:turbine", version.ref = "turbine" }
kotlin-compile-testing = { module = "dev.zacsweers.kctfork:core", version.ref = "kotlin-compile-testing" }
gr8 = { module = "com.gradleup:gr8-plugin", version.ref = "gr8" }

[plugins]
fgp-android = { id = "com.freeletics.gradle.common.android", version.ref = "fgp" }
fgp-jvm = { id = "com.freeletics.gradle.common.jvm", version.ref = "fgp" }
fgp-multiplatform = { id = "com.freeletics.gradle.common.multiplatform", version.ref = "fgp" }
fgp-gradle = { id = "com.freeletics.gradle.common.gradle", version.ref = "fgp" }
fgp-publish = { id = "com.freeletics.gradle.common.publish.oss", version.ref = "fgp" }
fgp-root = { id = "com.freeletics.gradle.root", version.ref = "fgp" }
fgp-settings = { id = "com.freeletics.gradle.settings", version.ref = "fgp" }

android-library = { id = "com.android.library", version.ref = "android-gradle" }
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-parcelize = { id = "org.jetbrains.kotlin.plugin.parcelize", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
publish = { id = "com.vanniktech.maven.publish", version.ref = "publish" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
binarycompatibility = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version.ref = "binarycompatibility" }
bestpractices = { id = "com.autonomousapps.plugin-best-practices-plugin", version.ref = "bestpractices" }
gr8 = { id = "com.gradleup.gr8", version.ref = "gr8" }
dependency-analysis = { id = "com.autonomousapps.dependency-analysis", version.ref = "dependency-analysis" }
poko = { id = "dev.drewhamilton.poko", version = "0.15.0" }
