name: Build simple sample

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build simple sample
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: zulu
          java-version: 24

      - name: Install Android SDK
        run: ./.github/android-sdk.sh

      - uses: gradle/actions/setup-gradle@v5.0.1

      - name: Build with Gradle
        run: ./gradlew -p sample/simple :app:simple:assembleDebug lint --stacktrace
